:root {
    --point-color: #345cb4;
    --grey-color: #f3f3f3
}

/* AppLayout */
.applayout-header {
    background-color: var(--point-color);
    height: 4rem;
    color: #b7bed1;
    padding: 0 20px;
}

.applayout-header-main-logo {
    width: 5rem;
}

.applayout-header-hamburger {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}

.applayout-nav {
    height: 2rem;
    background-color: white;
    border-bottom: solid 0.05rem #b7bed1;
}

.applayout-nav-signup-div-a, .applayout-nav-login-div-a {
    color: black;
}

.applayout-nav-login-div {
    float: right;
    border-right: solid 0.025rem #b7bed1;
    padding: 0.3rem 1rem 0;
}

.applayout-nav-signup-div {
    float: right;
    border-left: solid 0.025rem #b7bed1;
    padding: 0.3rem 1rem 0;
}

.applayout-content {
    background-color: white;
}

.applayout-footer {
    color: #d3d3d3;
    font-weight: bold;
    text-align: center;
    background-color: white;
    padding: 0 10px;
}

.applayout-footer > a {
    color: inherit;
}

/* index home */
.ant-tabs-nav-list {
    padding: 0 20px;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn, .ant-tabs-tab:hover {
    color: var(--point-color);
}

.ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0;
}

/* Hot Ranking */
.home-hot-ranking-title-div {
    padding: 1.5rem 20px;
    text-align: left;
}
.home-hot-ranking-title-btn {
    width: 7rem;
    background-color: var(--point-color);
    color: white;
    border: none;
    height: 2rem;
    margin: auto 0;
}

.home-hot-ranking-first-p {
    margin-left: 2rem;
    margin-bottom: 0;
    margin-block-start: 0.25rem;
    margin-block-end: 0;
}

.home-hot-ranking-row {
    background-color: var(--grey-color);
    padding: 0 20px;
    margin-bottom: 1rem;
}

.home-hot-ranking-topten-div {
    font-size: 0.6rem;
    margin: 0.5rem auto;
}


@media only screen and (min-width: 600px) {
    .home-hot-ranking-title-div {
        margin-left: 20%;
        text-align: right;
    }

    .home-hot-ranking-first-p {
        text-align: left;
    }

    .home-hot-ranking-row {
        max-width: 70rem;
        margin: 0 auto;
    }

    .home-hot-ranking-topten-div {
        font-size: 1.1rem;
        margin: 1rem auto;
    }
}