:root {
    --point-color: #345cb4;
}

/* AppLayout */
.applayout-header {
    background-color: var(--point-color);
    height: 4rem;
    color: #b7bed1;
    padding: 0 20px;
}

.applayout-header-main-logo {
    width: 5rem;
}

.applayout-header-hamburger {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}

.applayout-nav {
    height: 2rem;
    background-color: white;
}

.applayout-nav-signup-div-a, .applayout-nav-login-div-a {
    color: black;
}

.applayout-nav-login-div {
    float: right;
    border-right: solid 0.05rem #b7bed1;
    padding: 0.3rem 1rem 0;
}

.applayout-nav-signup-div {
    float: right;
    border-left: solid 0.05rem #b7bed1;
    padding: 0.3rem 1rem 0;
}

.applayout-content {
    background-color: bisque;
}