:root {
    --point-color: #375cb7;
    --grey-color: #f3f3f3;
    --red-color: #c86143;
}

/* Signup */
.signup-div {
    background-color: var(--grey-color);
    text-align: center;
    font-weight: bold;
}

.signup-header-main-logo {
    width: 15rem;
    margin: 2rem auto 1rem;
}

.signup-form {
    padding: 0 16px 3rem;
    max-width: 30rem;
    margin: 0 auto;
}

.signup-form-button {
    text-align: center;
    margin-top: 1rem;
    background-color: var(--point-color);
    color: white;
    width: 100%;
    max-width: 30rem;
    height: 3rem;
    font-size: 1.2rem;
    letter-spacing: 20px;
    text-indent: 10px;
    font-weight: bold;
}

@media only screen and (min-width: 600px) {

}